<div>
    <a type="button" class="btn btn-success btn-product"><i class="fa-solid fa-plus"></i> Thêm sản phẩm</a>
    <!-- <button class="btn-success">Xóa nhiều sản phẩm</button> -->
    <a type="button" class="btn btn-danger btn-product"><i class="fa-regular fa-file"></i> Xuất ra excel</a>
</div>
<table class="table">
    <thead class="table-light">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Ảnh</th>
            <th scope="col">Tên thời trang</th>
            <th scope="col">Giá</th>
            <th scope="col">Khuyến mãi</th>
            <th scope="col">Tình trạng</th>
            <th scope="col">Còn hàng</th>
            <th scope="col">Thao tác</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
          </tr>
          
    </tbody>
</table>